{
  "env": {
    "node": true
  },
  "rules": {
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "func-names": ["error", "never"],
    "func-style": ["error", "expression"]
  }
}
